#bg {
background: linear-gradient(to right, #6d8aac, #0a101b);
justify-content: center;
}

.h1 {
    color: goldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#weather-card {
    background: lightgray;
}

#event-card {
    background: lightgray;
}

#team{
    text-align: center;
    font-size: 81px;
    color: goldenrod;
    border-radius: 50px;
}

.card:hover{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.date {
    font-size: 15px;
}


